_format_version: "3.0"
_transform: true

services:
  - name: catalogue-service
    url: http://catalogue:3000
    routes:
      - name: catalogue-route
        paths:
          - /catalogue
        strip_path: false
  - name: openai-service
    url: https://example.com
    routes:
      - name: openai-route
        paths:
          - /openai
        strip_path: true

plugins:
  - name: ai-mcp-proxy
    route: catalogue-route
    config:
      logging:
        log_payloads: true
        log_statistics: true
      mode: conversion-listener
      tools:
        - description: すべての製品情報を返却します
          method: GET
          path: /catalogue
          annotations:
            title: get-products
        - description: 指定したIDの製品情報を返却します
          method: GET
          path: /catalogue/{id}
          annotations:
            title: get-product-by-id
          # see: https://swagger.io/docs/specification/v3_0/describing-parameters/
          parameters:
            - name: id
              in: path
              required: false
              schema:
                type: integer
              description: Optional product ID
        - description: 新規製品情報を登録します
          method: POST
          path: /catalogue
          annotations:
            title: create-product
          request_body:
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    name:
                      type: string
                    description:
                      type: string
                    price:
                      type: number
  # --- Global Plugins ---
  - name: opentelemetry
    config:
      traces_endpoint: http://otel-collector:4318/v1/traces
      logs_endpoint: http://otel-collector:4318/v1/logs
      resource_attributes:
        service.name: kong
  - name: prometheus
    config:
      per_consumer: true
      status_code_metrics: true
      ai_metrics: true
      latency_metrics: true
      bandwidth_metrics: true
      upstream_health_metrics: true
      wasm_metrics: false
  - name: http-log
    config:
      http_endpoint: http://fluent-bit:2020
      custom_fields_by_lua:
        traceid: |
          local h = kong.request.get_header('traceparent')
          return h:match("%-([a-f0-9]+)%-[a-f0-9]+%-")
        spanid: |
          local h = kong.request.get_header('traceparent')
          return h:match("%-[a-f0-9]+%-([a-f0-9]+)%-")
